.casto_container {
    width: 100%;
    margin-bottom: 60px;
}

.casto_header{
    font-family: 'inter-bold';
    font-size: 27px;
    margin-bottom: 20px;
}

.casto_inner_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.casto_inner_divs {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.casto_inner_text {
    color: #1A73E9;
    font-family: 'inter-regular';
    font-size: 18px;
}