.mainpage_container{
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

.mainpage_katalog_div{
  background-color: #fff;
  z-index: 100;
  /* margin-top: 20px; */
  position: absolute;
  top: 2%;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 90rem;
  width:100%;
  margin: 0 auto;
  padding:0 30px;
  height: 120vh;
}

@media only screen and (max-width: 1400px) {
  .mainpage_container {
    max-width: 80rem;
    padding: 0 20px;
  }
}  

@media only screen and (max-width: 1490px) {
  .mainpage_container {
    max-width: 85rem;
  }
} 
